
/* Styles for categories container */
#categories {
    background-color:white;
    margin-bottom: 30px;
    justify-content: center;
    text-align: center;
    margin-top: 250px;
  }
  
  /* Styles for the category heading */
  #categories h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  /* Styles for the category list */
  #categories ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  
  /* Styles for individual list items */
  #categories li {
    padding: 10px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 5px 0 0 5px;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
  }
  
  /* Styles for the last list item */
  #categories li:last-child {
    border-radius: 0 5px 5px 0;
  }
  
  /* Styles for category links */
  #categories a {
    text-decoration: none;
    color: #333;
    margin-left: 5px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  
body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    background-color: white;
  }

#back-button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  


