/*** Code below is editing the picture **/
.picture-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    overflow: hidden; 
    position: relative; 
}

.picture-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* Add styles for the button*/
.shop-button {
    font-family: 'Playfair', serif;
    position: absolute; 
    bottom: 31%; 
    left: 50%; 
    transform: translateX(-50%); 
    padding: 10px 40px; 
    background-color: #E6CE69; 
    color: black; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 1.3em; 
    background-size: cover; 
    box-shadow: 0 0 5px rgba(24, 80, 36, 0.5);
    text-decoration: none;
}



@media (max-width: 768px) {
    .picture-container {
        height: 50vh; 
    }
}

/***Featured Products***/

.featured-products-section {
    background-color: #f0f0f0; 
    padding: 20px; 
}

.featured-products-title {
    font-family: 'Playfair', serif;
    text-align: center;
    font-size: 2.0em; 
    margin-bottom: 20px; 
}

/* This styles the grid container */
.featured-products-grid {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    gap: 40px; 
}

/* This styles each product card */
.featured-product-card {
    font-family: 'Playfair', serif;
    font-size: 1.0em; 
    width: 300px; 
    height: 400px; 
    padding: 20px; 
    margin: 10px; 
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    height: 400px;   
}

/* Additional responsiveness for smaller screens */
@media (max-width: 768px) {
    .featured-products-grid {
        flex-direction: column; 
    }
    .featured-product-card {
        max-width: 100%; 
    }
}


/* This styles the image container */
.product-image-container {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

/* This styles the product description that appears on hover */
.product-description {
    font-family: 'Vazirmatn', serif;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7); 
    color: #f0f0f0; 
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear; 
    padding: 10px;
    border-radius: 15px; 
}

/* This styles the image and description when the product card is hovered over */
.featured-product-card:hover .product-description {
    visibility: visible;
    opacity: 1;
}

/* Ensure the image links fill the container for proper hover effect */
.featured-product-card a {
    display: block;
    height: 100%;
}

/* Style adjustments for the image */
.featured-product-card img {
    width: 100%;
    height: auto;
    display: block;
    max-height: 400px; 
    object-fit: contain; 
    margin-bottom: auto; 
}

.featured-product-card h3,
.featured-product-card .price {
    text-align: center; 
    width: 100%; 

}

.featured-product-card h3 {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    min-height: 3em; 
    margin: 0 0 1px; 
    font-size: 1.3em;
}

.featured-product-card .price {
    font-weight: bold;
    color: #3D8244;
    margin-top: auto; 
    width: 100%; 
    text-align: center;
}


/***Blog section**/
.blog-section {
    font-family: 'Playfair', serif;
    text-align: center;
    background-color: #34713A; 
    padding: 20px;
}

/*Title*/
.Our-blog-title {
    color: #f0f0f0;
    font-family: 'Playfair', serif;
    font-size: 2.0em; 
    margin-bottom: 20px;
}

.blog-description {
    color: #f0f0f0;
    font-size: 1.2em; 
    margin-bottom: 20px;
}


.blog-cards {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

.blog-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    width: 300px; 
    margin-bottom: 30px; 
    padding: 15px; 
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.blog-card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.blog-card h2 {
    font-size: 1.2em; 
    min-height: 60px; 
    margin: 10px 0; 
}

.blog-card p {
    font-size: 1em; 
    min-height: 120px; 
    margin-bottom: 10px; 
}

.more-link {
    display: block;
    text-align: center;
    margin-top: auto; 
    padding: 10px 0; 
    font-weight: bold;
    color: #f0f0f0;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

.more-link-one{
    display: block;
    text-align: center;
    margin-top: auto; 
    padding: 10px 0; 
    font-weight: bold;
    color: #34713A;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

.more-link-two{
    display: block;
    text-align: center;
    margin-top: auto; 
    padding: 10px 0; 
    font-weight: bold;
    color: #34713A;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

.more-link-three{
    display: block;
    text-align: center;
    margin-top: auto; 
    padding: 10px 0; 
    font-weight: bold;
    color: #34713A;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

