
.login{
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background: #23463f;
        border-radius: 15px ;

}
RememberMeCheckbox{
   text-align: center;
    color: #277582;
    padding: 20px;
}
