
   
.login{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display';
    overflow: hidden;
    padding: 80px;
    border-radius:15px;
    background-color:#185024;
    flex-direction: row;
    justify-content: center
;
    

}
.remember{
   text-align: center;
    
    padding: 20px;
}
.login label{
    color:#E6CE69;
    font-size: 17px;
}
.login #Uname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
.login #Pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}
.login #log{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;


}
.login span{
    color: white;
    font-size: 17px;
}

.login form{
    margin-top: 50px;
    color: #E6CE69;
    border: none;
    justify-content: center;
}

.login h1{
    padding: 20px;
    color: #E6CE69;
    font-family: Playfair Display;
    text-align: center;
}
 