
.sign-in {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display';
    overflow: hidden;
    margin: 20 0 0 450px;
    padding: 80px;
    border-radius:15px;
    background-color:#185024;
    justify-content: center;
    text-align: center;

}

.sign-in h2 {
    padding: 20px;
    color: #E6CE69;
    font-family: Playfair Display;
    text-align: center;
}

.sign-in h3 {
    padding: 20px;
    color: #E6CE69;
    font-family: Playfair Display;
}

.sign-in label {
    color: #08ffd1;
    font-size: 17px;
}

.sign-in #Uname {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

.sign-in #Pass {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}

.sign-in #log {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
}

.sign-in span {
    color: white;
    font-size: 17px;
}

.sign-in h3 {
    color: #E6CE69;
    font-family: Playfair Display;

}

.sign-in input {
    width: 500px;
    height: 35px;

}

.sign-in button {
    width: 100px;
    height: 40px;
    margin-top: 50px;
    background-color: #34713A;
    color: #E6CE69;
    border: none;
}